body,html {
    padding: 0;
    margin: 0;
}

header {
    background-color: cadetblue;
    height: 60px;
    grid-area: header;
}

nav{
    background-color: aquamarine;
    grid-area: menu;
}

footer {
    background-color:blueviolet ;
    height: 80px;
    grid-area: footer;
}

article {
    height: 250px;
    background-color: antiquewhite;
    grid-area: content;
}

#container {
    margin: 0 auto;
    width: 1200px;
    background-color: chocolate;
    display: grid;
    grid-template-areas:
    'header header header header'
    'content content menu menu'
    'footer footer footer footer'
    ;
}