body,html {
    padding: 0;
    margin: 0;
}

header {
    background-color: cadetblue;
}

section { 
    background-color: darkgreen;
    display: flex;
    flex-direction: column-reverse;
}

nav{
    background-color: aquamarine;
    display: inline-block;
    width: 25%;
}

footer {
    background-color:blueviolet ;
    height: 80px;
    
}

article {
    width: 75%;
    height: 250px;
    background-color: antiquewhite;
}


#container {
    margin: 0 auto;
    width: 1200px;
    background-color: chocolate;
}